<div class="em40_header_area_main" #home>
	<div class="tx_top2_relative">
		<div class="">
			<div class="tx_relative_m">
				<div class="">
					<div class="mainmenu_width_tx">
						<div class="smartdev-main-menu one_page hidden-xs hidden-sm witr_h_h10">
							<div class="smartdev_nav_area scroll_fixed postfix">
								<div class="container">
									<div class="row logo-left">
										<div class="col-md-3 col-sm-3 col-xs-4 d-flex justify-content-between p-3">
											<a class="logo main_sticky_main_l mt-0 d-flex"><img fetchpriority="high"
													src="../../assets/images/logo/OASIS.png" alt="Logo"></a>
											<a class="logo main_sticky_l mt-0"><img fetchpriority="high"
													src="../../assets/images/logo/OASIS.png" alt="Logo"></a>
										</div>
										<div class="col-md-9 col-sm-9 col-xs-8 d-flex justify-content-end">
											<nav class="smartdev_menu">
												<ul class="sub-menu">
													<li>
														<a (click)="scroll(home)">Home</a>
													</li>
													<li>
														<a (click)="scroll(about)">About</a>
													</li>
													<li class="">
														<a (click)="scroll(contact)">Contact</a>
													</li>
													<li class="menu-item-has-children">
														<a>Services</a>
														<ul class="sub-menu">
															<li><a href="eye-examination.html">Eye examination</a></li>
															<li><a href="laser-eye-correction.html">Laser eye
																	correction</a></li>
															<li><a href="evaluating-eye-coordination.html">Evaluating
																	Eye Coordination</a></li>
															<li><a href="diagnosis-treatment.html">Diagnosis And
																	Treatment</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<div class="button">
															<button class="btn">Login/Signup</button>
														</div>
														<ul class="sub-menu">
															<li><a [routerLink]="['/authentication']">Patient
																	Account</a></li>
															<li><a [routerLink]="['/hospital']">Hospital Account</a>
															</li>
														</ul>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- MOBILE MENU Logo AREA -->
<div class="mobile_logo_area hidden-md hidden-lg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="mobile_menu_logo text-center">
					<a href="index-2.html" title="smartdev">
						<img src="../../assets/images/samples/logo.png" alt="smartdev">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="witr_swiper_area">
	<div class="swiper-container witr_active_id5">
		<div class="swiper-wrapper">
			<div class="swiper-slide  witr_swiper_height "
				style="background-image: url(../../assets/images/samples/slider-3.jpg);">
				<div class="witr_sw_text_area text-left p-4">
					<div class="witr_swiper_content ">
						<h2>Best Health Care For Family Doctor.</h2>
						<p>We will help you to feel better and enjoy every single day of your life. may be the fastest
							growing health.</p>
						<!-- btn gradient style -->
						<div class="slider_btn">
							<div class="witr_btn_style">
								<div class="witr_btn_sinner">
									<a class="witr_btn" (click)="scroll(book)">Make Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide witr_swiper_height "
				style="background-image: url(../../assets/images/samples/slider-1.jpg);">
				<div class="witr_sw_text_area text-left">
					<div class="witr_swiper_content ">
						<h1>Welcome To Family Doctor! </h1>
						<h2>Best Health Care For Family Doctor.</h2>
						<p>We will help you to feel better and enjoy every single day of your life. may be the fastest
							growing health.</p>
						<!-- btn gradient style -->
						<div class="slider_btn">
							<div class="witr_btn_style">
								<div class="witr_btn_sinner">
									<a class="witr_btn" (click)="scroll(book)">Make Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide  witr_swiper_height"
				style="background-image: url(../../assets/images/samples/slider-3.jpg);">
				<div class="witr_sw_text_area text-left">
					<div class="witr_swiper_content ">
						<h1>Welcome To Family Doctor! </h1>
						<h2>Best Health Care For Family Doctor.</h2>
						<p>We will help you to feel better and enjoy every single day of your life. may be the fastest
							growing health.</p>
						<!-- btn gradient style -->
						<div class="slider_btn">
							<div class="witr_btn_style">
								<div class="witr_btn_sinner">
									<a class="witr_btn" (click)="scroll(book)">Make Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide witr_swiper_height"
				style="background-image: url(../../assets/images/samples/slider-2.jpg); ">
				<div class="witr_sw_text_area text-left">
					<div class="witr_swiper_content ">
						<h1>Welcome To Family Doctor! </h1>
						<h2>Best Health Care For Family Doctor.</h2>
						<p>We will help you to feel better and enjoy every single day of your life.may be the fastest
							growing health.</p>
						<!-- btn gradient style -->
						<div class="slider_btn">
							<div class="witr_btn_style">
								<div class="witr_btn_sinner">
									<a class="witr_btn" (click)="scroll(book)">Make Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide witr_swiper_height "
				style="background-image: url(../../assets/images/samples/slider-1.jpg);">
				<div class="witr_sw_text_area text-left">
					<div class="witr_swiper_content ">
						<h1>Welcome To Family Doctor! </h1>
						<h2>Best Health Care For Family Doctor.</h2>
						<p>We will help you to feel better and enjoy every single day of your life.may be the fastest
							growing health.</p>
						<!-- btn gradient style -->
						<div class="slider_btn">
							<div class="witr_btn_style">
								<div class="witr_btn_sinner">
									<a class="witr_btn" (click)="scroll(book)">Make Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-scrollbar"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>




<!-- smartdev_features_area -->
<div class="smartdev_features_area">
	<div class="container">
		<div class="row features">
			<!-- smartdev_features_01 -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="all_feature_color single_feature2 text-left">
					<div class="witr_feature2">
						<div class="witr_fea2_icon_top">
							<i class="fas fa-wheelchair"></i>
						</div>
						<h3>Paralysis Disability </h3>
						<p>While building out a new website you literally no idea of where to start. </p>
						<div class="witr_feature2_icon">
							<i class="fas fa-wheelchair"></i>
						</div>
					</div>
				</div>
			</div>
			<!-- smartdev_features_02 -->
			<div class="col-lg-4 col-md-6 col-sm-12 pdlf">
				<div class="all_feature_color single_feature2 text-left">
					<div class="witr_feature2">
						<div class="witr_fea2_icon_top">
							<i class="fas fa-briefcase-medical"></i>
						</div>
						<h3>Patient of Beding</h3>
						<p>While building out a new website you literally no idea of where to start. </p>
						<div class="witr_feature2_icon">
							<i class="fas fa-briefcase-medical"></i>
						</div>
					</div>
				</div>
			</div>
			<!-- smartdev_features_03 -->
			<div class="col-lg-4 col-md-6 col-sm-12 pdlf">
				<div class="all_feature_color single_feature2 text-left">
					<div class="witr_feature2">
						<div class="witr_fea2_icon_top">
							<i class="fas fa-flask"></i>
						</div>
						<h3>Health Laboratory</h3>
						<p>While building out a new website you literally no idea of where to start. </p>
						<div class="witr_feature2_icon">
							<i class="fas fa-flask"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- smartdev_about_area -->
<div class="smartdev_about_area home1" #about>
	<div class="container">
		<div class="row about_area">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="single_image_area">
					<div class="single_image  ">
						<img src="../../assets/images/samples/about-image.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="witr_section_right">
					<div class="witr_section_title">
						<div class="witr_section_title_inner text-left">
							<h2>OUR ABOUT US</h2>
							<h3>Quick and effective service delivery.</h3>
							<p>Since founding, Oasis has evolved beyond management consulting and technology advisory,
								and expanded into project delivery and execution, covering; software development and
								delivery, portal and web development services, electronic payment management, technology
								infrastructure outsourcing and management, software as a service and BOT project
								services for government and private sector customers.</p>
						</div>
					</div>
					<div class="em-service2 sleft all_color_service">
						<div class="em_service_content ">
							<div class="em_single_service_text">
								<div class="service_top_image"></div>
								<div class="text_box witr_s_flex">
									<div class="service_top_text all_icon_color">
										<div class="em-service-icon">
											<img src="../../assets/images/samples/about-image-2.jpg" alt="">
										</div>
									</div>
									<div class="em-service-inner">
										<div class="em-service-title">
											<h3>Mission Statement</h3>
										</div>
										<div class="em-service-desc">
											<p>To achieve out vision throughtrusted management consulting advice, and
												through delivery of simple but transformational technologyservices, and
												by so doing increase productivity and financial performance of our
												clients.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- smartdev_serivce_bg_area -->
<div class="smartdev_serivce_bg_area serivce_bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-center">
						<h2>Our Service</h2>
						<div class="witr_image_title">
							<img src="../../assets/images/samples/title-icon-1.png" alt="">
						</div>
						<h3>OASIS Digital Services for</h3>
						<h1>Your Hospital? </h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row service_top">
			<!-- smartdev_serivce_bg_01 -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service-item all_color_service  text-left  ">
					<div class="service_top_image">
						<img src="../../assets/images/samples/service-1.png" alt="">
					</div>
					<div class="text_box all_icon_color">
						<h3><a href="#">Appointments/Walk-Ins</a></h3>
						<p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
							text the medical. </p>
					</div>
				</div>
			</div>
			<!-- smartdev_serivce_bg_02 -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service-item all_color_service  text-left">
					<div class="service_top_image">
						<img src="../../assets/images/samples/service-2.png" alt="">
					</div>
					<div class="text_box all_icon_color">
						<h3><a href="#">Upload of Test Results</a></h3>
						<p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
							text the medical. </p>
					</div>
				</div>
			</div>
			<!-- smartdev_serivce_bg_03 -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service-item all_color_service  text-left">
					<div class="service_top_image">
						<img src="../../assets/images/samples/service-3.png" alt="">
					</div>
					<div class="text_box all_icon_color">
						<h3><a href="#">Detailed Logs</a></h3>
						<p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
							text the medical. </p>
					</div>
				</div>
			</div>
			<!-- smartdev_serivce_bg_04 -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service-item all_color_service  text-left  ">
					<div class="service_top_image">
						<img src="../../assets/images/samples/service-4.png" alt="">
					</div>
					<div class="text_box all_icon_color">
						<h3><a href="#">Dispense And Payment</a></h3>
						<p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
							text the medical. </p>
					</div>
				</div>
			</div>
			<!-- smartdev_serivce_bg_05 -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service-item all_color_service  text-left  ">
					<div class="service_top_image">
						<img src="../../assets/images/samples/service-5.png" alt="">
					</div>
					<div class="text_box all_icon_color">
						<h3><a href="#">Patient Records</a></h3>
						<p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
							text the medical. </p>
					</div>
				</div>
			</div>
			<!-- smartdev_serivce_bg_06 -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service-item all_color_service text-left">
					<div class="service_top_image">
						<img src="../../assets/images/samples/service-6.png" alt="">
					</div>
					<div class="text_box all_icon_color">
						<h3><a href="#">Staff Management</a></h3>
						<p>Lorem Ipsum, you need to be sure there isn't anthing embarrassing hidden in the middle of
							text the medical. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- smartdev_tab_contant_area -->
<div class="smartdev_tab_contant_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-center">
						<h2>Our tab contant</h2>
						<div class="witr_image_title">
							<img src="../../assets/images/samples/title-icon-1.png" alt="">
						</div>
						<h3>Medical Doctor with About</h3>
						<h1>Best Laboratory.</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-12 tab_top">
				<div class="witr_adv_tab_area witr_taba_style1 tab_all_colora">
					<div class="witr_adv_tab_menu">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link epo-4931cc5 active" data-toggle="tab" href="#tx_tab_01">
									<span class="witr_tab_icona">
										<i class="icofont-brain-alt"></i>
									</span>
									<strong>Records</strong>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link epo-1b77303" data-toggle="tab" href="#tx_tab_02">
									<span class="witr_tab_icona">
										<i class="icofont-ambulance-crescent"></i>
									</span>
									<strong>Statistics</strong>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link epo-7b0660d" data-toggle="tab" href="#tx_tab_03">
									<span class="witr_tab_icona">
										<i class="icofont-heart-beat"></i>
									</span>
									<strong>Laboratory</strong>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link epo-76ded62" data-toggle="tab" href="#tx_tab_04">
									<span class="witr_tab_icona">
										<i class="icofont-blood"></i>
									</span>
									<strong>Administrator</strong>
								</a>
							</li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="witr_adv_tab_content">
						<div class="tab-content">
							<div class="tab-pane fade epo-4931cc5 active show" id="tx_tab_01">
								<div class="row tab_pane_bg">
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="witr_tab_right">
											<div class="witr_section_title">
												<div class="witr_section_title_inner text-left">
													<h2>Record Maintenance</h2>
													<p>It is issued free of charge in medical offices or at home with
														time purchase of services in the amount of more than $40 per
														person elevated ambience, completed. </p>
												</div>
											</div>
											<div class="em-service2 sleft all_color_service border_top">
												<div class="em_service_content ">
													<div class="em_single_service_text width_height_link_0 ">
														<div class="service_top_image"></div>
														<div class="text_box witr_s_flex">
															<div class="service_top_text all_icon_color">
																<div class="em-service-icon">
																	<i class="icofont-rounded-double-right"></i>
																</div>
															</div>
															<div class="em-service-inner">
																<div class="em-service-title">
																	<div class="em-service-desc">
																		<p>Madical have suffered alteration in some
																			form, by injected humour, or randomised
																			words which don't . </p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="em-service2 sleft all_color_service">
												<div class="em_service_content ">
													<div class="em_single_service_text width_height_link_0 ">
														<div class="service_top_image"></div>
														<div class="text_box witr_s_flex">
															<div class="service_top_text all_icon_color">
																<div class="em-service-icon">
																	<i class="icofont-rounded-double-right"></i>
																</div>
															</div>
															<div class="em-service-inner">
																<div class="em-service-title"></div>
																<div class="em-service-desc">
																	<p>There isn't anything embarrassing hidden in the
																		middle of text.on the Internet tend to repeat
																		predefined. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab_title">
												<h2>But I must explain to you how all this mistaken idea of denouncing
													pleasure and praising.</h2>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="witr_play_vi witr_all_color_v">
											<div class="witr_videobg_image">
												<img src="../../assets/images/samples/tab-image-1.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade epo-1b77303" id="tx_tab_02">
								<div class="row tab_pane_bg">
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="witr_play_vi witr_all_color_v">
											<div class="witr_videobg_image">
												<img src="../../assets/images/samples/tab-img-5.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="witr_tab_right">
											<div class="witr_section_title">
												<div class="witr_section_title_inner text-left">
													<h2>Generate Statistics</h2>
													<p>It is issued free of charge in medical offices or at home with
														time purchase of services in the amount of more than $40 per
														person elevated ambience, completed. </p>
												</div>
											</div>
											<div class="em-service2 sleft all_color_service border_top">
												<div class="em_service_content ">
													<div class="em_single_service_text width_height_link_0 ">
														<div class="service_top_image"></div>
														<div class="text_box witr_s_flex">
															<div class="service_top_text all_icon_color">
																<div class="em-service-icon">
																	<i class="icofont-rounded-double-right"></i>
																</div>
															</div>
															<div class="em-service-inner">
																<div class="em-service-title">
																	<div class="em-service-desc">
																		<p>Madical have suffered alteration in some
																			form, by injected humour, or randomised
																			words which don't . </p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="em-service2 sleft all_color_service">
												<div class="em_service_content ">
													<div class="em_single_service_text width_height_link_0 ">
														<div class="service_top_image"></div>
														<div class="text_box witr_s_flex">
															<div class="service_top_text all_icon_color">
																<div class="em-service-icon">
																	<i class="icofont-rounded-double-right"></i>
																</div>
															</div>
															<div class="em-service-inner">
																<div class="em-service-title"></div>
																<div class="em-service-desc">
																	<p>There isn't anything embarrassing hidden in the
																		middle of text.on the Internet tend to repeat
																		predefined. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab_title">
												<h2>But I must explain to you how all this mistaken idea of denouncing
													pleasure and praising.</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade epo-7b0660d" id="tx_tab_03">
								<div class="row tab_pane_bg">
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="witr_tab_right">
											<div class="witr_section_title">
												<div class="witr_section_title_inner text-left">
													<h2>Upload Test Results</h2>
													<p>It is issued free of charge in medical offices or at home with
														time purchase of services in the amount of more than $40 per
														person elevated ambience, completed. </p>
												</div>
											</div>
											<div class="em-service2 sleft all_color_service border_top">
												<div class="em_service_content ">
													<div class="em_single_service_text width_height_link_0 ">
														<div class="service_top_image"></div>
														<div class="text_box witr_s_flex">
															<div class="service_top_text all_icon_color">
																<div class="em-service-icon">
																	<i class="icofont-rounded-double-right"></i>
																</div>
															</div>
															<div class="em-service-inner">
																<div class="em-service-title">
																	<div class="em-service-desc">
																		<p>Madical have suffered alteration in some
																			form, by injected humour, or randomised
																			words which don't . </p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="em-service2 sleft all_color_service">
												<div class="em_service_content ">
													<div class="em_single_service_text width_height_link_0 ">
														<div class="service_top_image"></div>
														<div class="text_box witr_s_flex">
															<div class="service_top_text all_icon_color">
																<div class="em-service-icon">
																	<i class="icofont-rounded-double-right"></i>
																</div>
															</div>
															<div class="em-service-inner">
																<div class="em-service-title"></div>
																<div class="em-service-desc">
																	<p>There isn't anything embarrassing hidden in the
																		middle of text.on the Internet tend to repeat
																		predefined. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab_title">
												<h2>But I must explain to you how all this mistaken idea of denouncing
													pleasure and praising.</h2>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="witr_play_vi witr_all_color_v">
											<div class="witr_videobg_image">
												<img src="../../assets/images/samples/tab-img-4.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade epo-76ded62" id="tx_tab_04">
								<div class="row tab_pane_bg">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="witr_play_vi witr_all_color_v">
											<div class="witr_videobg_image">
												<img src="../../assets/images/samples/tab-img-2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="tab_thumb_area">
											<img src="../../assets/images/samples/tab-img-3.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- smartdev_team_area -->
<div class="smartdev_team_bg_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="witr_section_title white">
					<div class="witr_section_title_inner text-center">
						<h2>Our Team member</h2>
						<div class="witr_image_title">
							<img src="../../assets/images/samples/title-icon-2.png" alt="">
						</div>
						<h3>Medical Doctor with Best Team</h3>
						<h1>Member Easily Avoid. </h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- smartdev_team_area -->
<div class="smartdev_team_area">
	<div class="container">
		<div class="witr_team_area_c post_team10_area">
			<div class="row post_team10_idteam ">
				<!-- smartdev_team_01 -->
				<div class="witr_all_mb_30 col-lg-4 col-12">
					<div class="team-part all_color_team ">
						<div class="witr_team_section">
							<img src="../../assets/images/samples/team-01.jpg" alt="">
							<div class="team_o_icons all_team_icon_o_color">
								<ul class="witr_pots_team_s">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
									<li><a href="#"><i class="icofont-ui-video-play"></i></a></li>
									<li><a href="#"><i class="icofont-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="witr_team_content all_content_bg_color text-center">
							<h5><a href="#">Dr. Rubel Islam </a></h5>
							<span>Heart of Surgery </span>
						</div>
					</div>
				</div>
				<!-- smartdev_team_02 -->
				<div class="witr_all_mb_30 col-lg-4 col-12">
					<div class="team-part all_color_team ">
						<div class="witr_team_section">
							<img src="../../assets/images/samples/team-02.jpg" alt="">
							<div class="team_o_icons all_team_icon_o_color">
								<ul class="witr_pots_team_s">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
									<li><a href="#"><i class="icofont-ui-video-play"></i></a></li>
									<li><a href="#"><i class="icofont-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="witr_team_content all_content_bg_color text-center">
							<h5><a href="#">Dr. Shamim Rana </a></h5>
							<span>Brain Disability </span>
						</div>
					</div>
				</div>
				<!-- smartdev_team_03 -->
				<div class="witr_all_mb_30 col-lg-4 col-12">
					<div class="team-part all_color_team ">
						<div class="witr_team_section">
							<img src="../../assets/images/samples/team-03.jpg" alt="">
							<div class="team_o_icons all_team_icon_o_color">
								<ul class="witr_pots_team_s">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
									<li><a href="#"><i class="icofont-ui-video-play"></i></a></li>
									<li><a href="#"><i class="icofont-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="witr_team_content all_content_bg_color text-center">
							<h5><a href="#">Dr. Mofizul Sek </a></h5>
							<span>Emergency Services </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- smartdev_choose_area -->
<div class="smartdev_choose_area choose_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-center">
						<h2>Why CHOOSE US</h2>
						<div class="witr_image_title">
							<img src="../../assets/images/samples/title-icon-1.png" alt="">
						</div>
						<h3> Why Choose Medical Screven You</h3>
						<h1>From Becoming.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row choose_top">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<!-- smartdev_choose_01 -->
				<div class="em-service2 sleft all_color_service">
					<div class="em_service_content ">
						<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
							<div class="text_box witr_s_flex">
								<div class="service_top_text all_icon_color">
									<div class="em-service-icon">
										<i class="icofont-paralysis-disability"></i>
									</div>
								</div>
								<div class="em-service-inner">
									<div class="em-service-title">
										<h3>26+ years of Experience. </h3>
									</div>
									<div class="em-service-desc">
										<p>Medex is a free accessible The medical website this templatethat will help
											you kick off your </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- smartdev_choose_02 -->
				<div class="em-service2 sleft all_color_service">
					<div class="em_service_content ">
						<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
							<div class="text_box witr_s_flex">
								<div class="service_top_text all_icon_color">
									<div class="em-service-icon">
										<i class="icofont-heart-beat"></i>
									</div>
								</div>
								<div class="em-service-inner">
									<div class="em-service-title">
										<h3>Heart-Beat Bandage. </h3>
									</div>
									<div class="em-service-desc">
										<p>Medex is a free accessible The medical website this templatethat will help
											you kick off your </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- smartdev_choose_03 -->
				<div class="em-service2 sleft all_color_service">
					<div class="em_service_content ">
						<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
							<div class="text_box witr_s_flex">
								<div class="service_top_text all_icon_color">
									<div class="em-service-icon">
										<i class="icofont-ambulance-crescent"></i>
									</div>
								</div>
								<div class="em-service-inner">
									<div class="em-service-title">
										<h3>Ambulance for Crescent. </h3>
									</div>
									<div class="em-service-desc">
										<p>Medex is a free accessible The medical website this templatethat will help
											you kick off your </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<!-- smartdev_choose_04 -->
				<div class="em-service2 sleft all_color_service">
					<div class="em_service_content ">
						<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
							<div class="text_box witr_s_flex">
								<div class="service_top_text all_icon_color">
									<div class="em-service-icon">
										<i class="icofont-doctor-alt"></i>
									</div>
								</div>
								<div class="em-service-inner">
									<div class="em-service-title">
										<h3>Best Doctor Medical. </h3>
									</div>
									<div class="em-service-desc">
										<p>Medex is a free accessible The medical website this templatethat will help
											you kick off your </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- smartdev_choose_05 -->
				<div class="em-service2 sleft all_color_service">
					<div class="em_service_content ">
						<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
							<div class="text_box witr_s_flex">
								<div class="service_top_text all_icon_color">
									<div class="em-service-icon">
										<i class="icofont-injection-syringe"></i>
									</div>
								</div>
								<div class="em-service-inner">
									<div class="em-service-title">
										<h3>Injection for Syringe. </h3>
									</div>
									<div class="em-service-desc">
										<p>Medex is a free accessible The medical website this templatethat will help
											you kick off your </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- smartdev_choose_06 -->
				<div class="em-service2 sleft all_color_service">
					<div class="em_service_content ">
						<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
							<div class="text_box witr_s_flex">
								<div class="service_top_text all_icon_color">
									<div class="em-service-icon">
										<i class="icofont-brain-alt"></i>
									</div>
								</div>
								<div class="em-service-inner">
									<div class="em-service-title">
										<h3>Brain Tumor Symptoms.</h3>
									</div>
									<div class="em-service-desc">
										<p>Medex is a free accessible The medical website this templatethat will help
											you kick off your </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- smartdev_contact_area -->
<div class="smartdev_contact_area home_page" #book>
	<div class="container contact_bg">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="apartment_area p-4">
					<div class="apartment_text">
						<h2>Book An Appointment </h2>
					</div>
					<div class="witr_apartment_form">
						<form id="contact-form">
							<div class="form-row row">
								<div class="form-group col-lg-12 col-md-6">
									<span>
										<label for="hospital" class="text-left">Select Hospital</label>
										<select class="form-control" name="hospital" formControlName="hospitalID"
											id="select">
											<ng-container *ngIf="hospitals.length > 0; else notFound">
												<option selected disabled>--Select Hospital--</option>
												<option *ngFor="let hospital of hospitals"
													value="{{hospital.hospitalID}}">
													{{hospital.name}}</option>
											</ng-container>
											<ng-template #notFound>
												<option selected disabled>No Hospital Found</option>
											</ng-template>
										</select>
									</span>
								</div>
								<div class="form-group col-lg-12 col-md-6">
									<span><input type="email" name="email" placeholder="Email"></span>
								</div>
								<div class="form-group col-lg-12 col-md-6">
									<span><input type="number" name="phone" placeholder="Phone"></span>
								</div>
								<div class="form-group col-lg-12 col-md-6">
									<span>
										<select name="select_opt">
											<option value="Consultant" selected>Consultant</option>
											<option value="ENT">ENT</option>
											<option value="Cardiologist">Cardiologist</option>
											<option value="Physician">Physician</option>
											<option value="Ophthalmologist">Ophthalmologist</option>
											<option value="Dermatologist">Dermatologist</option>
											<option value="OB-GYN">OB-GYN</option>
											<option value="Urologist">Urologist</option>
											<option value="Pediatrician">Pediatrician</option>
											<option value="Psychiatrist">Psychiatrist</option>
											<option value="Neurologist">Neurologist</option>
										</select>
									</span>
								</div>
							</div>
							<div class="form-group">
								<span><textarea name="comment" placeholder="Complaint/Message"></textarea></span>
							</div>
							<button type="submit" name="ok" class="btn btn-primary">Make Your Appointment</button>
							<div class="row">
								<div class="col-lg-12 text-center">
									<p class="form-messege"></p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="contact_thumb_area">
					<img src="../../assets/images/samples/contact-image.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- witrfm_footer_area -->
<div class="witrfm_area">
	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget widget_smartdev_description_widget">
						<div class="smartdev-description-area">
							<a href="#"><img src="../../assets/images/logo/OASIS2.png" alt=""></a>
							<p>Oasis Management Company (RC 63590) is the premier Management Consulting and Technology
								Services Company, focused on the continued convergence between Computing,
								Communications, Content and Commerce (4Cs)</p>
							<div class="social-icons">
								<a href="#"><i class="fa fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-google-plus-g"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fas fa-rss"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12" #contact>
					<div class="widget about_us">
						<h2 class="widget-title">Our Contacts</h2>
						<div class="about-footer">
							<div class="footer-widget address">
								<div class="footer-logo"></div>
								<div class="footer-address">
									<div class="footer_s_inner">
										<div class="footer-sociala-icon">
											<i class="fa fa-map-marker"></i>
										</div>
										<div class="footer-sociala-info">
											<p>Adress: 12 Parakou Crescent, Wuse II, Abuja</p>
										</div>
									</div>
									<div class="footer_s_inner">
										<div class="footer-sociala-icon">
											<i class="fa fa-phone"></i>
										</div>
										<div class="footer-sociala-info">
											<p>Phone: +2347013234484</p>
										</div>
									</div>
									<div class="footer_s_inner">
										<div class="footer-sociala-icon">
											<i class="fa fa-globe"></i>
										</div>
										<div class="footer-sociala-info">
											<p>Email: info@oasismgt.net Website: https://oasismgt.net</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4 last">
					<div class="widget_text widget widget_custom_html">
						<h2 class="widget-title">Working Hours</h2>
						<div class="textwidget custom-html-widget">
							<div class="witr_table">
								<div class="witr_sub_table">
									<span>Monday - Friday</span>
									<span>08:00 - 20:00</span>
								</div>
								<div class="witr_sub_table">
									<span>Saturday</span>
									<span>09:00 - 18:00</span>
								</div>
								<div class="witr_sub_table">
									<span>Sunday</span>
									<span>09:00 - 18:00</span>
								</div>
								<div class="witr_sub_table">
									<span>Medical Emergency:</span>
									<span> +2347055350249<br>+2348079279349</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6  col-sm-12">
					<div class="copy-right-text">
						<p>Copyright &copy; Oasis Management Company all rights reserved.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6  col-sm-12">
					<div class="footer-menu">
						<ul class="text-right">
							<li><a (click)="scroll(home)">Home</a></li>
							<li><a (click)="scroll(about)">About</a></li>
							<li><a (click)="scroll(contact)">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>