<div class="app">
    <app-hospital-sidebar></app-hospital-sidebar>
    <div id="main" class="row p-2">
        <header class="col-4">
            <a class="burger-btn d-block d-xl-none" onclick="sidebar()">
                <span class="iconify" data-icon="akar-icons:three-line-horizontal" style="color: grey;"></span>
            </a>
        </header>
        <div class="col-8 page-heading m-0 d-flex justify-content-end">
            <h6>{{date}}</h6>
        </div>
        <div class="page-heading mb-0">
            <div class="row card mb-0 p-4 ms-1">
                <div class="page-title">
                    <div class="row pb-2">
                        <div class="col-12 col-md-8 order-md-1 order-last">
                            <h3>Waiting Room</h3>
                            <p></p>
                        </div>
                        <div class="col-12 col-md-4 order-md-2 order-first">
                            <nav aria-label="breadcrumb"
                                class="breadcrumb-header float-start float-md-end float-lg-end">
                                <ol class="breadcrumb pt-1 p-0">
                                    <li class="breadcrumb-item">
                                        <a><i class="iconify" data-icon="bi:person-fill"
                                                style="color: #050a30;"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Waiting Patients</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="visits.length > 0; else notFound">
                    <div class="row pb-2 justify-content-start m-0 mt-3">
                        <div class="col-md-6 col-lg-3 col-12 form-group p-0">
                            <label>Search</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select id="sort" class="form-control">
                                        <option value="1">By ID</option>
                                        <option value="2">By Name</option>
                                        <option value="3">By Specialist</option>
                                        <option value="4">By Status</option>
                                    </select>
                                </div>
                                <input type="text" class="col-md-6 form-control" id="search" onkeyup="search('table1')"
                                    placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover" id="table1">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Patient ID</th>
                                    <th>Patient Name</th>
                                    <th>Specialist</th>
                                    <th>Doctor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let visit of visits">
                                    <td>{{visit.time}}</td>
                                    <td>{{visit.patientID}}</td>
                                    <td>{{visit.patientName}}</td>
                                    <td>{{visit.specialist}}</td>
                                    <td>{{visit.doctorName}}</td>
                                    <td *ngIf="visit.status === 0"><span class="badge badge-warning">Waiting</span>
                                    </td>
                                    <td *ngIf="visit.status === 1"><span class="badge badge-success">Posted</span>
                                    </td>
                                    <td *ngIf="visit.status === 2"><span class="badge bg-blue">Started</span></td>
                                    <td *ngIf="visit.status === 3"><span class="badge badge-muted">Finished</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #notFound>
                    <div class="p-3 text-center bg-light mb-3">No Patients Waiting</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>